@import "mixin";

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  background: $fill-body;
  margin: 0;
  padding: 0; 
}
div,p,ul,section,button,input,textarea,th,td,a,img,header,footer,nav,aside,audio,datalist,section{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $color-text-base;
  background-color: $fill-body;
  min-width: 1200px;
  margin: 0 auto;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  border: 0px;
  -ms-interpolation-mode: bicubic;
}

*[contenteditable] {
  -webkit-user-select: auto !important;
}

// Reset fonts for relevant elements
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

input, textarea {
  border: none;
  background-color: #fff;
}

button {
  outline: none;
}

ul,
ol {
  display: list-item;
  list-style: none;
}

// Remove the clear button of a text input control in IE10+
input::-ms-clear, input::-ms-reveal {
  display: none;
}

.l,.fl { 
  float:left;
}

.r,.fr { 
  float:right; 
}
.clearfix:after { 
  clear:both;
  content:".";
  display:block;
  font-size:0;
  height:0;
  visibility:hidden;
}
.clearfix:after {
   _zoom:1;
}
input[type=checkbox], input[type=radio] {
  margin: 4px 0 0;
  line-height: normal;
  @include square(30px);
}

textarea {
  display: block;
  resize: none;
  width: 100%;
}

*:focus {
  outline: none;
}

a {
  background: transparent;
  text-decoration: none;
  outline: none;
  color: $color-text-base;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }
}

// Headers
h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}

label {
  display: inline-block;
  max-width: 100%;
  font-weight: normal;
  color: inherit;
}

//左浮动
.pull-left {
  @extend %pull-left;
}

//右浮动
.pull-right {
  @extend %pull-right;
}

//清除浮动
.clearFix {
  @extend %clearFix;
}

//超出显示...
.ellipsis {
  @extend %ellipsis;
}

//没有数据
.no-data {
  width: 100%;
  text-align: center;
  color: #999;
  font-size: 14px;
  padding: toRem(15px) 0;
  background-color: $fill-base;
}

.noDataBg {
  display: block;
  height: toRem(700px);
  text-align: center;
//   background: url(../assets/no_data.png) no-repeat center center;
  background-color: $fill-body;
  background-size: toRem(254px) toRem(405px);
}

.no-meet-data {
  padding-top: toRem(345px);
  width: toRem(750px);
  height: toRem(520px);
  background-color: #eff2f4;
//   background-image: url("../assets/no_data@2x.png");
  background-repeat: no-repeat;
  background-position: center toRem(105px);
  background-size: toRem(300px) toRem(210px);
  color: #cdcdcd;
  font-size: toRem(36px);
  text-align: center;
}

//容器
.container_top {
  padding-top: toRem(92px);
  min-height: 100vh;
}

.container_bottom {
  padding-bottom: toRem(105px);
  min-height: 100vh;
}

.container_both {
  padding-top: toRem(92px);
  padding-bottom: toRem(105px);
  min-height: 100vh;
}

//iconfont
.webapp {
  color: #333;
}

//高亮
.highlight {
  color: $color-highlight;
}

//表单
.form-group {
  font-size: 14px;
  border-radius: toRem(10px);
  overflow: hidden;
}

.form-control {
  display: block;
  width: 100%;
  line-height: toRem(50px);
  padding: toRem(19px) toRem(20px);
  font-size: 14px;
  color: $color-text-thirdly;
  background-color: #fff;
  @extend %border-base;
}

.checkbox, .radio {
  label {
    width: auto;
    @include ht-lineHt(90px);
  }
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  @include square(35px);
  vertical-align: middle;
}

//水平表单
.form-horizontal {
  .form-control {
    display: inline-block;
    width: 70%;
  }

  .control-label {
    padding-top: toRem(7px);
    margin-bottom: 0;
    text-align: right;
  }

  .checkbox, radio {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

//过渡动画
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

//向左滑动
.slide-left-enter-active, .slide-left-leave-active {
  transition: all 0.5s;
}

.slide-left-enter, .slide-left-leave-active {
  transform: translateX(10rem);
  opacity: 0;
}

//向右滑动
.slide-right-enter-active, .slide-right-leave-active {
  transition: all 0.5s;
}

.slide-right-enter, .slide-right-leave-active {
  transform: translateX(-10rem);
  opacity: 0;
}

//向下滑动
.slide-bottom-enter-active, .slide-bottom-leave-active {
  transition: all 0.5s;
}

.slide-bottom-enter, .slide-bottom-leave-to {
  transform: translateY(100vh);
  opacity: 0;
}

//向上滑动
.slide-top-enter-active, .slide-top-leave-active {
  transition: all 0.5s;
}

.slide-top-enter, .slide-top-leave-to {
  transform: translateY(100vh);
  opacity: 0;
}

.app {
  //按钮
  .page-button-group, .page-button-group > * {
    margin-bottom: toRem(30px);
  }

  .mint-button {
    height: toRem(90px);
    font-size: 14px;
    @include borderRadius(8px);
  }

  .mint-button--normal, .mint-button--small {
    padding: 0 toRem(24px);
  }

  .mint-button--small {
    font-size: 12px;
    height: toRem(70px);
    line-height: toRem(70px);
  }

  .mint-button--large {
    @include borderRadius(12px);
  }

  .mint-button--primary {
    color: #fff;
    background-color: $brand-primary;
  }

  .mint-button--primary.is-plain {
    border: 1px solid $brand-primary;
    background-color: transparent;
    color: $brand-primary;
  }

  //MessageBox
  .mint-msgbox {
    font-size: 16px;
  }

  .mint-msgbox-title {
    font-size: 16px;
    line-height: toRem(120px);
  }

  .mint-msgbox-btns {
    @include ht-lineHt(92px);
  }

  .mint-msgbox-content {
    padding: toRem(10px) toRem(70px) toRem(60px);
  }

  //toast
  .mint-toast {


    .mint-toast-text {
      font-size: 14px;
    }

    &.is-placebottom {
      bottom: toRem(115px);
    }
  }

  //loading
  .mint-indicator-mask {
    opacity: 0;
    background: #000;
  }

  //轮播
  .mint-swipe-indicator {
    &.is-active {
      background: $brand-primary;
      opacity: 0.9;
    }
  }

  //cell
  .mint-cell {
    @include ht-lineHt(88px);

    .mint-cell-wrapper {
      padding: 0 toRem(30px);
      line-height: toRem(88px);
      font-size: 14px;
      background: none;
      border-bottom: 1px solid $border-color-base;
    }

    img {
      @include square(26px);
    }

    .mint-cell-title {
      @include flex(flex-start);
      align-items: center;
    }

    .mint-cell-allow-right::after {
      @include square(15px);
    }

    &:last-child {
      background: none;
      border-bottom: none;
      background-color: #fff;

      .mint-cell-wrapper {
        background: none;
        border-bottom: none;
        background-color: #fff;
      }
    }
  }

  //.mint-navbar 选项卡
  .mint-navbar {
    .mint-tab-item {
      padding: toRem(25px) 0;
      margin: 0 toRem(30px);
      font-size: 14px;

      &.is-selected {
        border-bottom: toRem(6px) solid $brand-primary;
        color: $brand-primary;
        margin-bottom: toRem(6px);
      }
    }
  }

  .mint-tab-item-label {
    font-size: 14px;
  }

  .mint-tab-item-icon {
    width: toRem(48px);
    height: toRem(48px);
    margin: 0 auto toRem(5px);
  }

  //radio
  .mint-radio-input:checked + .mint-radio-core {
    background-color: $brand-primary;
    border-color: $brand-primary;
  }

  .mint-radio-label {
    margin-left: toRem(6px);
  }

  //checkbox
  .mint-checkbox-input:checked + .mint-checkbox-core {
    background-color: $brand-primary;
    border-color: $brand-primary;
  }

  .mint-checklist-label {
    margin-left: toRem(6px);
  }
}

.mint-toast, .mint-indicator-wrapper {
  z-index: 9999;
}

//竖线
.primary_line {
  display: inline-block;
  width: toRem(6px);
  height: toRem(28px);
  line-height: toRem(60px);
  margin-right: toRem(20px);
  background-color: $brand-primary;
  position: relative;
  top: 1px;
}

//搜索
.search {
  width: toRem(39px);
}

//遮罩层
.mb-model {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: $fill-mask;
}

//table 表格
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  margin-bottom: toRem(36px);
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid $border-color-light;
}

//排行榜前三背景
.rank_bg_one {
//   background: url(../assets/gold.png) no-repeat center center;
  background-size: toRem(33px), toRem(35px);
}

.rank_bg_two {
//   background: url(../assets/silver.png) no-repeat center center;
  background-size: toRem(33px), toRem(35px);
}

.rank_bg_three {
//   background: url(../assets/copper.png) no-repeat center center;
  background-size: toRem(33px), toRem(35px);
}

/*筛选*/
.filter_layer {
  position: fixed;
  top: toRem(92px);
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: 50;
}

.filter_list {
  position: absolute;
  max-height: 0;
  overflow: hidden;
  left: 0;
  right: 0;
  top: toRem(92px);
  z-index: 100;
  background-color: $fill-base;
  font-size: 15px;
  transition: max-height ease 0.5s;

  &.show {
    max-height: toRem(430px);
  }
}

.filter_item {
  @include ht-lineHt(86px);
  padding: 0 toRem(30px);

  span {
    margin-left: toRem(30px);
  }

  img {
    width: toRem(28px);
  }

  .webapp-selected {
    @extend %pull-right;
    font-size: 25px;
    color: $brand-primary;
  }

  &.filter_title {
    background-color: $fill-grey;
    padding: 0;
    color: $color-text-thirdly;

    span {
      margin-left: toRem(30px);
    }
  }

  &.active {
    color: $brand-primary;
  }
}

.boundary {
  width: 100%;
  height: toRem(20px);
  background: $fill-body;
}

.app .gradient_btn {
  margin: toRem(30px) 0;
  background-image: linear-gradient(to right, #fb9f22, #dd1200);
  border-radius: toRem(50px);
  color: #fff;
  width: 100%;
  height: toRem(90px);
}

.list1-5 {
  width: 15%;
  float: left;
  line-height: 37px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list1 {
  width: 10%;
  float: left;
  line-height: 37px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list0-75 {
  width: 7.5%;
  float: left;
  line-height: 37px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list2 {
  width: 20%;
  float: left;
  line-height: 37px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list1-5 {
  width: 15%;
  float: left;
  line-height: 37px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
// 修改了element-ui的一部分样式
